<div class="container-fluid p-0 m-0" id="contact">
  <div class="Contact col-10">
    <div class="title">Contact us</div>
    <div class="touch">Get in Touch</div>
  </div>
<div class="contact-us col-12 p-0 m-0">
   <div class="row col-12 touch-git">
        <div class="left-sction col-12 col-md-5 p-0 m-0">
            <div class="information">Contact Information</div>
            <div class="list">
                <div class="row list-item">
                    <div class="col-2 col-md-2 col-lg-2 icon">
                        <img class="img-icon" src="assets/image/location.svg" alt="" />
                    </div>
                    <div class="col-10 col-lg-6 content">
                        <div class="row hedar">Office address</div>
                        <div class="row footer">
                            Suite 1307, Level 12, Tropical Center 218 New Elephant Road, Dhaka
                            - 1205
                        </div>
                    </div>
                </div>
                <div class="row list-item">
                    <div class="col-2 col-md-2 icon">
                        <img class="img-icon" src="assets/image/phone.svg" alt="" />
                    </div>
                    <div class="col-10 col-lg-6 content">
                        <div class="row hedar">Phone number</div>
                        <div class="row footer">
                            +8801678170593, 01919-264687 02-9611936
                        </div>
                    </div>
                </div>
                <div class="row list-item">
                    <div class="col-2 col-md-2 icon">
                        <img class="img-icon" src="assets/image/email.svg" alt="" />
                    </div>
                    <div class="col-10 col-lg-6 content">
                        <div class="row hedar">Email address</div>
                        <div class="row footer">
                            support@blackfriday.com support@blackfriday.com
                        </div>
                    </div>
                </div>
                <div class="row list-item">
                    <div class="col-2 col-md-2 icon">
                        <img class="img-icon"  src="assets/image/website.svg" alt="" />
                    </div>
                    <div class="col-10 col-lg-6 content">
                        <div class="row hedar">Website address</div>
                        <div class="row footer">admincryptocurrency.com</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="right-sction col-12 col-md-5  p-0 m-0">
            <div class="send p-0 m-0">Send us a Message</div>
           <form>
                <div class="form-group input-group">
                    <input class="name " type="text" placeholder="Your Name" />
                    <input class="email " type="text" placeholder="Your Email" />
                </div>
                <div class="subject form-group">
                    <input class="subject-input " type="text" placeholder="Subject" />
                </div>
                <div class="your-message form-group">
                    <textarea class="message" placeholder="Your Message" name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="submit-message form-group">
                    <button type="submit" class="sup-message">Submit message</button>
                </div>
           </form>
        </div>

   </div>
</div>
</div>
