<div class="container-fluid" id="Team">
    <div class="row our-team">
        <div class="title">Documents</div>
        <div class="project">Project Documentation</div>
    </div>
    <div class="documentation row">
        <div class="card-file col-6 col-md-3" *ngFor="let item of documentation">
            <div class="image-file">
                <img class="img" src="{{ item.fileimgurl }}" alt="" />
            </div>
            <div class="name">{{ item.fielname }}</div>
    </div>
</div>