.container-fluid {
  justify-content: space-between;
 
     margin: 0;
 
}

.nav-bar {

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.navbar{
  
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.nav-list {
  display: flex;
   justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  .nav-link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    cursor: pointer;
  }
}
.navbar-collapse{
  justify-content: space-between;
  
}
.site-name {
   border: solid 2px #ec844d;
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  text-transform: capitalize;
  color: #ffffff;
}

.but-grop {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}
.but-sign-up{
     border: solid 2px #ec844d;

  margin-inline-end: 2rem;

}
  .sign-up {
  width: 160px;
  height: 56px;
  background: linear-gradient(90deg, #ec844d 8.12%, #eb535a 100%);
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

.login {
  background-color: transparent;
  width: 160px;
  height: 56px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
.navbar-toggler{
  color: aliceblue;
 
}

