.container-fluid {
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.nav-list {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  .nav-link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    text-transform: capitalize;
    color: #ffffff;
    cursor: pointer;
  }
}
.site-name {
    display: flex;
    justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  text-transform: capitalize;
  color: #ffffff;
}

.but-grop {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.sign-up {
  width: 160px;
  height: 56px;
  background: linear-gradient(90deg, #ec844d 8.12%, #eb535a 100%);
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}
.login {
  background-color: transparent;
  width: 160px;
  height: 56px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}
