<div class="container-fluid" id="Apps">
<div class="apps col-10">
    <div class="col-1"></div>
        <div class="app">
            <div class="titel-1">Our Desktop and mobile app</div>
            <div class="titel-2">Trade any where any Time</div>
            <div class="paragraph-1">While existing solutions offer to solve just one problem at a time our
                integration, and even a digital arbitration system.</div>
            <div class="paragraph-2">
                <ul>
                    <li>Crypto-news curation</li>
                    <li>Natural Language Understanding</li>
                    <li>Wallet aggregation</li>
                    <li>Professional Network</li>
                    <li>No more expensive fees</li>
                </ul>
            </div>
            <div class="download">
                <button class="but download-app">Download App</button>
              <div class="icon">
                    <i class="fa fa-apple" aria-hidden="true"></i>
                    <i class="fa fa-android" aria-hidden="true"></i>
                    <i class="fa fa-windows" aria-hidden="true"></i>
              </div>
            </div>
        </div>
        <div class="image-app">
            <img class="img" src="assets/image/app.svg" alt="">
        </div>

</div>
</div>