<div class="container-fluid">
  <div class="nav-bar row">
    <div class="col-12 col-lg-10">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="home-card row">
    <div class="col-md-1"></div>
    <div class="content col-12 col-lg-6">
      <div class="row">
        <div class="time col-md-12 col-lg-10 col-xl-6">
          <div class="card" *ngFor="let item of time">
            <div class="card-pody">
              {{ item.body }}
            </div>
            <div class="card-footer">
              {{ item.footer }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="algorithmic col-sm-12 col-12 col-md-12 col-lg-8">
          Algorithmic & Blockchain Solutions for Crypto Investments
        </div>
      </div>

      <div class="but-grop row">
        <button class="but buy-tokens">Buy Tokens</button>
        <button class="but sign-up">Sign up to join</button>
      </div>
    </div>

    <div class="img-home col-12 col-lg-5">
      <img class="img-icon" src="assets/image/icon1.svg" alt="" />
    </div>
  </div>
  

  <div class="what-is-ico">
    <app-what-is-ico></app-what-is-ico>
  </div>
  <div class="work-process col-11">
    <app-work-process></app-work-process>
  </div>
  <div class="token">
    <app-token></app-token>
  </div>
    <div class="documents col-11">
      <app-documents></app-documents>
    </div>
    <div class="apps">
      <app-apps></app-apps>
    </div>
  <div class="team col-11">
    <app-ourt-team></app-ourt-team>
  </div>
  <div class="partners">
    <app-partners></app-partners>
  </div>
  <div class="faqs">
    <app-faqs></app-faqs>
  </div>
<div class="contact-us col-12 col-md-11">
  <app-contact-us></app-contact-us>
</div>
  <div class="footer">
    <app-footer></app-footer>
  </div>

</div>
