.faqs{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.faqs-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
  
  .title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.15em;
    text-transform: capitalize;
    color: #ffffff;
  }
  .title-1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 39px;
  }
  .label-list {
     
      max-width: 461px;
height: 20px;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 24px;
   
    .list{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      
        li{
            list-style-type: none;
            
        }
          li:hover{
            background: linear-gradient(90deg, #EC844D 8.12%, #EB535A 100%);
        }
  
    }
  }
  .title-2 {
      background-color: #10144F;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
  .paragraph {
      background-color: #10144F;
   max-width: 514px;
height: 72px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
  .paragraph-1{
      padding: 35px;
       max-width: 567px;
height: 185px;
 background-color: #10144F;
 margin-bottom: 1rem;
  }
  .paragraph-2 {
      padding-top: 25px;
      padding-bottom: 25px;
      padding-inline-start: 30px;
      margin-bottom: 1rem;
    max-width: 567px;
    height: 80px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    background-color: #10144F;
  }
}
.img-faqs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
      max-width: 630px;
    max-height: 622px;
  .img {
    max-width: 100%;
  
  }
}
