<div class="container-fluid" id="what">
 <div class="what-is-ico row">
        <div class="img-what col-12 col-lg-6">
            <img class="img-what" src="assets/image/icon-3.svg" alt="">
        </div>
        <div class="content col-12 col-lg-5">
            <div class="titel">WHAT IS ICO CRYPTO</div>
            <div class="titel-1">We’ve built a Platform
                to buy and sell shares.</div>
                <div class="paragraph-1">
                    ICO Crypto is a platform for the future of funding that
                    powering dat for the new equity blockchain.
                </div>
                <div  class="paragraph-2">While existing solutions offer to solve just one problem at a time our
                team is up to build a secure, useful, & easy-to-use product based on
                integration, and even a digital arbitration system.</div>
                <div  class="paragraph-2">
                    While existing solutions offer to solve just one problem at a time our
                    private blockchain. It will include easy cryptocurrency payments
                    integration, and even a digital arbitration system.
                </div>
        </div>
 </div>
</div>