<div class="container-fluid" >
    <div class="row footer col-4">
        <div class="input-group mb-3 ">
            <input type="text" class="form-control" placeholder="Enter your e-mail here" aria-label="Recipient's username"
                aria-describedby="button-addon2">
            <button class="btn subscribe" type="button" id="button-addon2">Subscribe Now</button>
        </div>
            <div class="site-name mb-3 ">
                <div class="logo-site">
                    <img src="assets/image/logo.svg" alt="">
                    {{sitename}}
                </div>
          
            </div>
            <div class="row icon-img mb-3">
                <div class="icon ">
                    <img src="../../../../assets/image/instagram.svg" alt="">
                </div>
                <div class="icon ">
                    <img src="../../../../assets/image/twitch.svg" alt="">
                </div>
            
                <div class="icon ">
                    <img src="../../../../assets/image/reddit.svg" alt="">
                </div>
                <div class="icon ">
                    <img src="../../../../assets/image/twitter.svg" alt="">
                </div>
            
            </div>
            <div class="right mb-5">
                All Right Reserved. Designed and Developed by LabArtisan
            </div>
    </div>

</div>