<div class="container-fluid" id="Faqs">
<div class="faqs row">
   <div class="col-1"></div>
    <div class="faqs-content col-11 col-lg-5">
        <div class="title">Faqs</div>
        <div class="title-1">Frequently Questions</div>
        <div class="label-list">
            <ul class="list  m-0 p-0">
                <li>Ganeral</li>
                <li >Token</li>
                <li  >Register</li>
                <li  >Collection</li>
                <li  >Exclusive</li>
            </ul>
        </div>
        <div class="paragraph-1">
            <div class="title-2">What is ICO Crypto?</div>
            <div class="paragraph">
                Don’t get shirty with me owt to do with me arse down the have it car boot
                happy days no biggie bevriy only aquid goods in my flat the little rotter
                cheeky.!
            </div>
        </div>
        <div class="paragraph-2">What cryptocurrencies can I use to purchase?</div>
        <div class="paragraph-2">How can I participate in the ICO Token sale?</div>
        <div class="paragraph-2">How do I benefit from the ICO Token?</div>
    </div>

    <div class="img-faqs col-12 col-lg-6">
        <img class="img" src="assets/image/faqs.svg" alt="">
    </div>
</div>
</div>
