<div class="container-fluid">
    <div class="work-process row">
        <div class="col-1"></div>
        <div class="content col-8 col-lg-5">
            <div class="titel">Work process</div>
            <div class="titel-1">Crypto Working Process</div>
            <div class="paragraph-1 col-7">
            Don’t get shirty with me owt to do with me arse down the pub have
            it car boot happy days no biggie bevriy only aquid Im goods in my
            flat the little rotter cheeky.!
            </div>
            <div class="list row">
                <div class="row list-item">
                    <div class="col-2 icon">
                        <img src="assets/image/list-icon-1.svg" alt="">
                    </div>
                    <div class="col-4 content">
                        <div class="row hedar">
                        ico Platform
                        </div>
                        <div class="row footer">
                            For business which a product online
                            product listings in the
                        </div>
                    </div>
                </div>
                <div class="row list-item">
                    <div class="col-2 icon">
                        <img src="assets/image/list-icon-2.svg" alt="">
                    </div>
                    <div class="col-4 content">
                        <div class="row hedar">
                            Investors
                        </div>
                        <div class="row footer">
                        For business which a product online
                        product listings in the
                        </div>
                    </div>
                </div>
                <div class="row list-item">
                    <div class="col-2 icon">
                        <img src="assets/image/list-icon-3.svg" alt="">
                    </div>
                    <div class="col-4 content">
                        <div class="row hedar">
                            Investors
                        </div>
                        <div class="row footer">
                            For business which a product online
                            product listings in the
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="col-3 img-icon col-lg-6">
            <img class="img-what" src="assets/image/icon-4.svg" alt="">
        </div>
       
    </div>
</div>